bittensor==9.0.0
sympy==1.13.1
numpy==2.0.1
websocket==0.2.1
scipy==1.13.1
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
onnxruntime==1.20.1
diffusers==0.31.0
transformers==4.46.3
optimum-quanto @ git+https://github.com/SocialTensor/optimum-quanto.git
litserve==0.2.5
insightface==0.7.3
sentencepiece==0.2.0
pytorch-lightning==2.4.0
torchmetrics==1.6.0
accelerate==1.1.1
tqdm==4.67.1
open-clip-torch==2.29.0
datasets==3.1.0
prometheus-fastapi-instrumentator==6.0.0
albumentations==1.4.21
ray[serve]==2.40.0
ninja==1.11.1.2
pydantic==2.10.3
Requests==2.32.3
Pillow==11.0.0
ImageHash==4.3.1
loguru==0.7.2
PyYAML==6.0.2
Requests==2.32.3
slowapi==0.1.9
omegaconf==2.3.0
gitpython==3.1.43
jinja2==3.1.4
redis==5.2.0
ctranslate2==4.5.0
mediapipe==0.10.14
timm==0.9.2

# openai for pixtral multimodal
openai @ git+https://github.com/SocialTensor/openai-python.git
httpx==0.26.0

# pyiqa
addict==2.4.0
bitsandbytes==0.44.1
einops==0.8.0
tensorboard==2.18.0
yapf==0.43.0
lmdb==1.5.1
future==1.0.0.0
icecream==2.1.3
openai-clip==1.0.1
pre-commit==4.0.1

# controlnet-aux
einops==0.8.0

# causing problems, k-diffusion is used for ComfyUI category but this has it own env so 
