bittensor==6.9.4
diffusers==0.30.2
optimum-quanto @ git+https://github.com/toilaluan/optimum-quanto.git
controlnet_aux @ git+https://github.com/toilaluan/controlnet_aux.git
litserve @ git+https://github.com/toilaluan/LitServe.git
pyiqa @ git+https://github.com/toilaluan/IQA-PyTorch.git
openai @ git+https://github.com/vietbeu/openai-python.git
transformers==4.42.4
accelerate==0.32.0
cryptography==42.0.0
ImageHash==4.3.1
loguru==0.7.0
Pillow==10.2.0
pydantic==1.10.13
PyYAML==6.0.1
Requests==2.31.0
setuptools==68.0.0
slowapi==0.1.8
tqdm==4.65.0
omegaconf==2.3.0
gitpython==3.1.40
httpx==0.26.0
ray[serve]==2.23.0
timm==1.0.3
numpy==1.26.4
jinja2==3.1.2
insightface==0.7.3
onnxruntime-gpu==1.18.1
sentencepiece==0.2.0
redis==5.0.6
ctranslate2==4.3.1
ninja==1.10.2
k-diffusion==0.1.1.post1
pytorch-lightning==2.1.2
open-clip-torch==2.17.1
datasets==2.19.2